PORT=3000
MONGODB_URI=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=1h
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key
JWT_REFRESH_EXPIRES_IN=7d

# Redis
REDIS_USERNAME=default
REDIS_PASSWORD=xxxxxxxxxxxxxxxxxxxxxxxxxxx
REDIS_PORT=10839
REDIS_HOST=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
REDIS_TTL=300
